.header {
    margin-bottom: 0;
}

.jumbotron {
    /*alternative color? #96e6a1*/
    background-image: linear-gradient(130deg,#19ad5e 10%,#d4fc79 105%);
    padding: 2rem 0rem;
}

.mainContent {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: calc(100vh - 334px);
}

.card-link {
    color: black;
}

h1 {
    color: white;
}

.whitelink {
    color: white;
}

.footer {
    margin: 0;
    padding-bottom: 1rem;
}
